@import url(../template.css);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.fa {
  font-size: 1.7em; }

body .section-4 .sf-image {
  max-width: 20em; }

@media screen and (min-width: 466px) {
  body .section-4 .sf-image {
    max-width: 100%; } }

.social-link {
  color: black; }

body .my-sub-header {
  margin-bottom: 1em; }

#about {
  margin: 1em; }
  #about h1 {
    text-align: center; }
  #about p {
    margin: 0 auto;
    max-width: 75em; }

.jssorb05 {
  position: absolute; }

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url("../img/b05.png") no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb05 div {
  background-position: -7px -7px; }

.jssorb05 div:hover, .jssorb05 .av:hover {
  background-position: -37px -7px; }

.jssorb05 .av {
  background-position: -67px -7px; }

.jssorb05 .dn, .jssorb05 .dn:hover {
  background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
        .jssora12l                  (normal)
        .jssora12r                  (normal)
        .jssora12l:hover            (normal mouseover)
        .jssora12r:hover            (normal mouseover)
        .jssora12l.jssora12ldn      (mousedown)
        .jssora12r.jssora12rdn      (mousedown)
        */
.jssora12l, .jssora12r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 30px;
  height: 46px;
  cursor: pointer;
  background: url("../img/a12.png") no-repeat;
  overflow: hidden; }

.jssora12l {
  background-position: -16px -37px; }

.jssora12r {
  background-position: -75px -37px; }

.jssora12l:hover {
  background-position: -136px -37px; }

.jssora12r:hover {
  background-position: -195px -37px; }

.jssora12l.jssora12ldn {
  background-position: -256px -37px; }

.jssora12r.jssora12rdn {
  background-position: -315px -37px; }

/* jssor slider arrow navigator skin 08 css */
/*
        .jssora08l                  (normal)
        .jssora08r                  (normal)
        .jssora08l:hover            (normal mouseover)
        .jssora08r:hover            (normal mouseover)
        .jssora08l.jssora08ldn      (mousedown)
        .jssora08r.jssora08rdn      (mousedown)
        */
.jssora08l, .jssora08r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url("../img/a08.png") no-repeat;
  overflow: hidden;
  opacity: .4;
  filter: alpha(opacity=40); }

.jssora08l {
  background-position: -5px -35px; }

.jssora08r {
  background-position: -65px -35px; }

.jssora08l:hover {
  background-position: -5px -35px;
  opacity: .8;
  filter: alpha(opacity=80); }

.jssora08r:hover {
  background-position: -65px -35px;
  opacity: .8;
  filter: alpha(opacity=80); }

.jssora08l.jssora08ldn {
  background-position: -5px -35px;
  opacity: .3;
  filter: alpha(opacity=30); }

.jssora08r.jssora08rdn {
  background-position: -65px -35px;
  opacity: .3;
  filter: alpha(opacity=30); }

.my-para {
  font-size: 1.2em;
  margin: 1em; }
