body {

	margin: 1em;
	text-align: center;
	background-color: $background-color;

	nav, section {
		margin: 3em auto;
	}
	.features {
		li {
			margin-bottom: 1em;
			margin: auto;

			img {
				max-width: 100%;
				margin-bottom: 1em;
			}
		}
	}
	footer {
		div {
			margin: 3em;
		}

		p {
			margin: 2em;
		}
	}
}

@media screen and ($tablet) {
	body {
		.features {
			@include outer-container(100%);
			li {
				@include span-columns(4);

			}
		}
	}
} 

@media screen and ($desktop){
	body {
		img {
			width: 17em;
		}
	}

}
