body {

	margin: 1em;
	text-align: center;
	background: url(../img/bird-mobile.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	@media screen and ($tablet){
		background: url(../img/white-brick.jpg);
	}
	background-color: $background-color;

	nav, section {
		margin: 3em auto;
	}
	.features {
		li {
			margin-bottom: 1em;
			margin: auto;

			img {
				max-width: 100%;
				margin-bottom: 1em;
			}
		}
	}
	footer {
		div {
			margin: 3em 0;
			h4{
				margin-bottom: 2em;
			}
		}

		p {
			// margin: 2em;
		}
	}
}

@media screen and ($tablet) {
	body {
		.features {
			@include outer-container(100%);
			li {
				@include span-columns(4);

			}
		}
	}
} 

@media screen and ($desktop){
	body {
		img {
			width: 17em;
		}
	}

}
