ul {
	padding: 0;

	li {
		display: inline-block;
		margin: 0.6em;
		a {
			@include button-style;
			background-color: $button-background-color;
		}
	}
}

.social {
	li {
		margin: 2.5em;
		display: block;
	}

}

@media screen and ($social-tweak1) {
	.social {
		li {
			margin: 0.4em;
			display: inline-block;
		}
	}

}