ul {
	padding: 0;

	li {
		display: inline-block;
		// padding: 0 0.6em
		a {
			@include button-style;
			background-color: $button-background-color;
		}
	}
}

// @media screen and ($desktop) {

// }