header h1 {
	font-size: 3em;
	font-family: $helvetica;
}

h2 {
	font-size: 1.8em;
}

a, .action input {
	text-decoration: none;
	color: #ecf0f1;
	font-size: 1em;
}

.intro p {
	font-style: italic;
}

p {
	font-family: $sans-serif-font;
	font-size: 1.5em;
}

.action {
	a {
		font-size: 1.8em;
		@include button-style;
		background-color: $button-background-color;
	}
}


// Media Queries
@media screen and ($tablet) {
	header h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1.2em;
	}

	p {
		font-size: 1.2em;
	}

	.action {
		a {
			font-size: 2em;
		}
	}


}



