body {
	// color: white;
	header h1 {
		font-size: 3em;
		font-family: $title-font;
		text-shadow: 1px 1px;
	}

	h2 {
		font-size: 1.8em;
	}

	a, .action input {
		text-decoration: none;
		color: #ecf0f1;
		font-size: 1em;
	}

	.intro p {
		font-style: italic;
	}

	p {
		font-family: $sans-serif-font;
		font-size: 1.5em;
	}

	.action {
		a {
			font-size: 1.8em;
			@include button-style;
			background-color: $button-background-color;
		}
	}

	footer p {
		font-size: 1em;
	}
}


// Media Queries
@media screen and ($tablet) {
	body{
		header h1 {
			font-size: 4em;
		}

		h2 {
			font-size: 1.4em;
		}

		p {
			font-size: 1.2em;
		}

		.action {
			a {
				font-size: 2em;
			}
		}

		footer p {
			font-size: 1.2em;
		}
	}
}



