// Media Queries
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';

// Typography
$sans-serif-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font: Georgia, Times, 'Times New Roman', serif;
